<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deepfake Adversarial Training Demo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/style_index.css") }}">
</head>
<body>
    <div class="container">
        <nav>
            <a href="/">主页</a>
            <a href="/about">简介</a>
            <a href="/test">测试</a>
        </nav>
        <div class="content">
            <div class="center">
                <h1>Deepfake Adversarial Training Demo</h1>
                <div class="buttons">
                    <button onclick="location.href='/about'">项目简介</button>
                    <button onclick="location.href='/test'">测试界面</button>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>
