<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>旋转后的图片</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_result.css') }}">
</head>
<body>
        <nav>
                <a href="/">主页</a>
                <a href="/about">简介</a>
                <a href="/test">测试</a>
        </nav>
            <br><br>
        <h1>Deepfake Adversarial Training Result</h1>
        <br><br>
        <div class="image-container">
        <h2>未添加噪声的伪造结果</h2>
        
        </div>
        <br><br>
        <div class="image-container">
        <h2>所添加噪声和添加噪声后的伪造结果</h2>
        
        </div>
</html>
